<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-screen">
    <% include ../partial/admin_drawer %>
    <h1 class="text-center text-3xl font-bold my-5">Total Donors</h1>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">Total Donor</div>
          <div class="stat-value">310</div>
          <div class="stat-desc">At your area</div>
        </div>

        <div class="stat">
          <div class="stat-title">A+</div>
          <div class="stat-value">20</div>
          <div class="stat-desc">All</div>
        </div>

        <div class="stat">
          <div class="stat-title">A-</div>
          <div class="stat-value">10</div>
          <div class="stat-desc">All</div>
        </div>
      </div>
    </div>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">B+</div>
          <div class="stat-value">30</div>
          <div class="stat-desc">All</div>
        </div>

        <div class="stat">
          <div class="stat-title">B-</div>
          <div class="stat-value">90</div>
          <div class="stat-desc">All</div>
        </div>

        <div class="stat">
          <div class="stat-title">AB</div>
          <div class="stat-value">30</div>
          <div class="stat-desc">All</div>
        </div>
      </div>
    </div>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">AB-</div>
          <div class="stat-value">30</div>
          <div class="stat-desc">All</div>
        </div>

        <div class="stat">
          <div class="stat-title">O+</div>
          <div class="stat-value">45</div>
          <div class="stat-desc">All</div>
        </div>

        <div class="stat">
          <div class="stat-title">O-</div>
          <div class="stat-value">45</div>
          <div class="stat-desc">All</div>
        </div>
      </div>
    </div>
    <h1 class="text-center text-3xl font-bold my-5">Total Avaliable Donors</h1>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">Total Avaliable Donor</div>
          <div class="stat-value">110</div>
          <div class="stat-desc">At your area</div>
        </div>

        <div class="stat">
          <div class="stat-title">A+</div>
          <div class="stat-value">10</div>
          <div class="stat-desc">Active</div>
        </div>

        <div class="stat">
          <div class="stat-title">A-</div>
          <div class="stat-value">5</div>
          <div class="stat-desc">Active</div>
        </div>
      </div>
    </div>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">B+</div>
          <div class="stat-value">10</div>
          <div class="stat-desc">Active</div>
        </div>

        <div class="stat">
          <div class="stat-title">B-</div>
          <div class="stat-value">9</div>
          <div class="stat-desc">Active</div>
        </div>

        <div class="stat">
          <div class="stat-title">AB</div>
          <div class="stat-value">13</div>
          <div class="stat-desc">Active</div>
        </div>
      </div>
    </div>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">AB-</div>
          <div class="stat-value">23</div>
          <div class="stat-desc">Active</div>
        </div>

        <div class="stat">
          <div class="stat-title">O+</div>
          <div class="stat-value">15</div>
          <div class="stat-desc">Active</div>
        </div>

        <div class="stat">
          <div class="stat-title">O-</div>
          <div class="stat-value">25</div>
          <div class="stat-desc">Active</div>
        </div>
      </div>
    </div>
  </body>
</html>
