<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-screen">
    <% include ./partial/puplic_drawer %>
    <div class="grid lg:grid-cols-6 md:grid-cols-1 sm:grid-cols-1">
      <div></div>
      <div class="lg:col-span-4 md:col-span-12 sm:col-span-12 border">
        <div class="card glass w-full">
          <div class="card-body">
            <h2 class="text-3xl text-center font-bold">Meet Our Team</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
