<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-screen">
    <% include ./partial/puplic_drawer %>
    <div class="grid lg:grid-cols-12 md:grid-cols-1 sm:grid-cols-1">
      <div></div>
      <div class="lg:col-span-10 md:col-span-12 sm:col-span-12 border mt-3">
        <div class="card glass w-full">
          <div class="card-body">
            <h2 class="text-3xl text-center font-bold my-3">Meet Our Team</h2>
            <div
              class="grid lg:grid-cols-5 md:grid-cols-2 sm:grid-cols-1 gap-2"
            >
              <div class="card glass">
                <figure>
                  <img
                    src="/images/profile-female.svg"
                    class="w-3/4"
                    alt="car!"
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Kyal Zin Lin Lae Tun</h2>
                  <p>Project Leader</p>
                </div>
              </div>
              <div class="card glass">
                <figure>
                  <img
                    src="/images/profile-female.svg"
                    class="w-3/4"
                    alt="car!"
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Nandar Htun</h2>
                  <p>Fontend Designer</p>
                </div>
              </div>
              <div class="card glass">
                <figure>
                  <img
                    src="/images/profile-male.svg"
                    class="w-3/4"
                    alt="car!"
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Paing Zin Thant</h2>
                  <p>Backend Developer</p>
                </div>
              </div>
              <div class="card glass">
                <figure>
                  <img
                    src="/images/profile-male.svg"
                    class="w-3/4"
                    alt="car!"
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Tayza Phyo Thu</h2>
                  <p>Backend Developer</p>
                </div>
              </div>
              <div class="card glass">
                <figure>
                  <img
                    src="/images/profile-female.svg"
                    class="w-3/4"
                    alt="car!"
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Paing Hsu Wai Kyaw</h2>
                  <p>Fontend Designer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
