<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-screen">
    <% include ./partial/puplic_drawer %>
    <h1 class="text-3xl text-center font-bold m-5">Contact Us</h1>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1 gap-2 mx-1">
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-1" checked="checked" />
        <div class="collapse-title text-xl font-medium">
          <h2 class="card-title">Ayeyawaddy</h2>
        </div>
        <div class="collapse-content">
          <p class="text-center text-xl font-bold">Admin List</p>
          <div class="grid grid-cols-2 border-2 border-primary p-2 rounded">
            <p>Pathein</p>
            <p>0988878899</p>
          </div>
          <div class="grid grid-cols-2 border-2 border-primary p-2 rounded">
            <p>Kyaunggon</p>
            <p>090000000</p>
          </div>
          <div class="grid grid-cols-2 border-2 border-primary p-2 rounded">
            <p>Eainme</p>
            <p>094233333</p>
          </div>
        </div>
      </div>
      <!-- <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title text-xl font-medium">
          <h2 class="card-title">Yangon</h2>
        </div>
        <div class="collapse-content">
          <p class="text-center text-xl font-bold">Admin List</p>
          <div class="grid grid-cols-2 border-2 border-primary p-2 rounded">
            <p>Hlaing</p>
            <p>0988878899</p>
          </div>
          <div class="grid grid-cols-2 border-2 border-primary p-2 rounded">
            <p>Tarmwe</p>
            <p>090000000</p>
          </div>
          <div class="grid grid-cols-2 border-2 border-primary p-2 rounded">
            <p>Sanchaung</p>
            <p>094233333</p>
          </div>
        </div>
      </div> -->
    </div>
  </body>
</html>
