<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-screen">
    <% include ./partial/puplic_drawer %>
    <h1 class="text-3xl text-center font-bold m-5">Contact Us</h1>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1 gap-2 mx-1">
      <% for(var i = 0; i < admins.length;i++){%>
      <div class="collapse collapse-plus bg-base-200">
        <input type="radio" name="my-accordion-1" checked="checked" />
        <div class="collapse-title text-xl font-medium">
          <h2 class="card-title">Ayeyawaddy Region</h2>
        </div>
        <div class="collapse-content">
          <p class="text-center text-xl font-bold">
            Admin Contact List By Township
          </p>
          <div class="grid grid-cols-2 border-2 border-primary p-2 rounded">
            <h3 class="font-bold">Township</h3>
            <h3 class="font-bold">Phones</h3>
          </div>
          <% for(var j = 0; j < admins[i].admin.length;j++){%>
          <div class="grid grid-cols-2 border-2 border-primary p-2 rounded">
            <p><%= admins[i].admin[j].district %></p>
            <p><%= admins[i].admin[j].phone %></p>
          </div>
          <%}%>
        </div>
      </div>
      <%}%>
    </div>
  </body>
</html>
